* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100vw;
  overflow-x: hidden;
}

#root {
  width: 100%;
  // height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  padding: 80px;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%;
}
$avatarSize: 50px !important;
.avatar {
  float: left;
  margin-right: 20px;
  width: $avatarSize;
  height: $avatarSize;
}

.cf::after {
  content: '';
  display: flex;
  clear: both;
}
